header {
    width: 70%;
    margin: auto;
    padding-top: 1.5625rem;
    padding-bottom: .9375rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        max-width: 3.75rem;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        .single-menu {
            padding: .3125rem;
            font-size: small;
            font-weight: 700;
            color: #464D5A;
            cursor: pointer;
            padding-bottom: 1.5625rem;
        }

        .single-menu:hover {
            color:#0282F9;
            
        }
    }
}