
footer {
    width: 100%;
    margin: auto;

}

.section-1 {
    background-color: #0282F9;
    position: relative;
    z-index: 1;

    .container {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
           width: 2.5rem;
            margin: 1.25rem;
        }

        .img-container {
            display: flex;
            align-items: center;

            h6 {
                color: white;
            }
        }
    }
}

.section-2 {
    background-image: url(src/vue-dc-comics/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   

    .footer-container {
        width: 70%;
        margin: auto;
        padding: 1.25rem 0 1.25rem 0;
        position: relative;

        .footer-lists {
            display: flex;
            width: 70%;

            .footer-list {
                width: fit-content;
                padding: 1.25rem;

                h4 {
                    color: white;
                    padding-bottom: .625rem;
                    padding-top: .625rem;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    a {
                        text-decoration: none;
                        color: rgb(100, 100, 100);
                        font-size: x-small;
                    }

                    a:hover {
                        color: white;
                    }
                }
            }

            .footer-logo {
                position: absolute;
                right: 0;
                top: -60px;
                bottom: -60px;
                img {
                    width: 450px;
                    
                }
            }
        }
    }
}

.section-3 {
    width: 100%;
    background-color: #303030;
    padding: 30px 0 30px 0;
    position: relative;
    z-index: 1;
    
    .container-section-3 {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-logos {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        h3 {
            padding: .625rem;
            color: #0282F9;
        }
    }
}


